/* Global styles to ensure full-width, full-height layout */
html,
:root {
  --accent-color: #0b705c;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Full-width container */
.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Banner section styles */
.banner {
  padding-top: 0;
}

.header-text-column {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 200px !important;
  margin-top: -100px !important;
}

.headshot-column {
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.headshot-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-text-column,
  .headshot-column {
    width: 100%;
    height: auto;
  }

  .header-text-column {
    padding: 32px;
  }

  .headshot-image {
    height: auto;
    width: 100%;
  }
}

/************ VerticalNavBar Css ************/
.vertical-navbar {
  width: 2vw;
  min-width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-right: thin solid lightgray;
  position: relative;
}

.vertical-navbar a {
  margin-bottom: 20px;
  font-family: "Rubik";
}

.navbar-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 60%;
  padding-top: 20px;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  color: black;
  text-decoration: none;
  font-size: small;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #faaf52;
}

.top-section,
.bottom-section {
  margin-bottom: 20px;
}

.vertical-text-box {
  transform: rotate(270deg);
  transform-origin: center;
  text-align: center;
  display: inline-block;
  position: relative;
  font-family: sans-serif;
}

.vertical-text-box h2 {
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.vertical-text-box div {
  font-size: 15px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  color: gray;
}

/* Main Content Section Fixes */
.main-content {
  padding: 0 !important;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

/* Sticky Navbar styling */
.navbar-column {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 0;
}

/* Projects section styles */
.project-item {
  padding: 80px;
}

.project-item p {
  max-width: 500px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.project-header {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.project-image {
  padding-right: 80px;
}

/************ Summary Css ************/
.summary {
  padding: 128px;
}

/* Summary section styles */
.summary-container {
  padding: 128px !important;
}

.about-col {
  max-width: 600px !important;
}

.experience-col {
  max-width: 600px !important;
}

/* Experience section styles */
.experience-item {
  border-top: solid gray 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.experience-item-last {
  border-bottom: solid gray 1px;
}

.experience-time {
  color: var(--accent-color);
  margin-bottom: 4px;
  font-family: Rubik;
  font-size: 13px;
  line-height: 20px;
}

.social-media-button {
  size: 30;
  color: var(--accent-color);
}

.kaushan-script-regular {
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-style: normal;
}

.initials-logo {
  background-color: var(--accent-color);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

.resume-button {
  color: var(--accent-color);
}
