/************ Banner Css ************/
.banner {
  padding-top: 0;
}

.header-text-column {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 128px;
  height: 100vh;
  width: 50%;
  box-sizing: border-box;
}

.headshot-column {
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.headshot-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-text-column,
  .headshot-column {
    width: 100%;
    height: auto;
  }

  .header-text-column {
    padding: 32px;
  }

  .headshot-image {
    height: auto;
    width: 100%;
  }
}

/************ VerticalNavBar Css ************/
.vertical-navbar {
  background-color: #f7dcb4;
  width: 2vw;
  min-width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 10px;
}

.nav-item {
  color: black;
  text-decoration: none;
  font-size: small;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #faaf52;
}

.main-content {
  padding-left: 0;
  overflow-y: auto;
  height: 100%;
}

.app-container {
  display: flex;
  height: 100vh;
}

.navbar-column {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 0;
}

/************ Project Css ************/
.project-item {
  padding: 80px;
}

.project-item p {
  max-width: 500px;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.project-header {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
}

.project-image {
  padding-right: 80px;
}

/************ Summary Css ************/
.summary {
  padding: 128px;
}

.summary h2 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

/************ Experience Css ************/
.experience-item {
  border-top: 1px solid #777;
}

.experience-item :last-child {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.experience-time {
  color: #faaf52;
  margin-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.experience-item h5 {
  margin: 0;
}
